trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)'
    includeRootFolder: false
    archiveType: zip
    archiveFile: '$(Build.ArtifactStagingDirectory)/functionapp.zip'
    replaceExistingArchive: true

- task: AzureFunctionApp@2
  inputs:
    azureSubscription: 'sc-azure-fun360app'
    appType: 'functionAppLinux'
    appName: 'fun360app'
    package: '$(Build.ArtifactStagingDirectory)/functionapp.zip'
    runtimeStack: 'PYTHON|3.13'
